
##
# ST-Link Settings
##

# If OpenOCD seems to see your ST-Link, but you get an ID mismatch error, you probably need to specify the ID here
set CPUTAPID 0x2ba01477

# Choose *one* of the following, according to your ST-Link hardware revision.
source [find interface/stlink-v2.cfg] # Revision A and B (older revisions)
#source [find interface/stlink.cfg]   # Revision C (newer revision)

##
# MCU Settings
##

# Set this as appropriate for your MCU model
source [find target/stm32f1x.cfg]

##
# Instructions
##

init
halt

flash probe 0
flash erase_sector 0 0 15
flash write_image target/thumbv7m-none-eabi/release/rust-iot-stm32

shutdown


