
##
# ST-Link Settings
##

# If OpenOCD seems to see your ST-Link, but you get an ID mismatch error, you probably need to specify the ID here
set CPUTAPID 0x2ba01477

# Choose *one* of the following, according to your ST-Link hardware revision.
# Revision A and B (older revisions)
source [find interface/stlink-v2.cfg] 
# Revision C (newer revision)
#source [find interface/stlink.cfg]   

##
# MCU Settings
##

# Set this as appropriate for your MCU model
source [find target/stm32f1x.cfg]

